#Datenbanken

*.db
*.sqlite3

#Rohdaten (Ignoriert den kompletten Ordner und spezifische Endungen)

data/
*.xlsx
*.csv
*.json

#Python Cache & Environments

pycache/
*.pyc
.env
*.env
venv/
env/
.venv/

#Streamlit

.streamlit/